
# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML / experiment tracking
mlruns/
*.db
catboost_info/
.pytest_cache/

#local planning docs
*.md
!README.md
